<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="modernhttpclient" version="2.4.2" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="xamarinios10" />
  <package id="Plugin.Permissions" version="3.0.0.12" targetFramework="xamarinios10" />
  <package id="WebP.Touch" version="1.0.8" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Badge" version="1.0.0.0" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.DeviceInfo" version="4.1.1" targetFramework="xamarinios10" />
  <package id="Xam.Plugin.Media" version="4.0.1.5" targetFramework="xamarinios10" />
  <package id="Xam.Plugins.Forms.RoundedBoxView" version="1.0.0.7" targetFramework="xamarinios10" />
  <package id="Xamarin.Build.Download" version="0.7.1" targetFramework="xamarinios10" />
  <package id="Xamarin.FFImageLoading" version="2.4.11.982" targetFramework="xamarinios10" />
  <package id="Xamarin.FFImageLoading.Forms" version="2.4.11.982" targetFramework="xamarinios10" />
  <package id="Xamarin.FFImageLoading.Transformations" version="2.4.11.982" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.Analytics" version="6.0.4" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.CloudMessaging" version="4.1.1.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.Core" version="6.1.0" targetFramework="xamarinios10" />
  <package id="Xamarin.Firebase.iOS.InstanceID" version="4.2.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="4.3.0.991221" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms.Maps" version="2.3.3.180" targetFramework="xamarinios10" />
  <package id="Xamarin.Google.iOS.Core" version="3.1.0.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Google.iOS.InstanceID" version="1.2.1.15" targetFramework="xamarinios10" />
</packages>